<h1>Editing Service Registration</h1>

<%= render 'form', service_registration: @service_registration %>

<%= link_to 'Show', @service_registration %> |
<%= link_to 'Back', service_registrations_path %>
